* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
  }
  body {
    overflow: hidden; /* This will remove scrollbars from the entire page */
  }
.Navigation-bar{
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 999;
}
#top-bar{
    background: -webkit-linear-gradient(
        to right,
        #fd746c,
        #2c3e50
      ); 
      background: linear-gradient(
        to right,
        #2f121c,
        #010412
      ); 
      padding: 8px 0;
      font-size: 12px;
}
.container{
    width: 1170px;
    max-width: auto;
    margin: 0 100px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}
.contact-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    margin: 0px 10px;
}


/* Main Header */
.brand-nav .software-nav{
  color:white;
  text-decoration: none;
}
.Navigation-bar2 {
  width: 100%;
  position: fixed;
  z-index: 999;
}

#main-bar{
      background: linear-gradient(
        #2f121c,
        #010412
      ); 
      font-size: 12px;
      
}
.main-navbar{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    color: #fff;
    padding: 10px;
    float: right;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .navbar-nav {
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #ccc;
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-toggle {
    cursor: pointer;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    color: #fff;
    padding: 10px;
    background: linear-gradient(
        #2f121c,
        #010412
      );
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-menu.show {
    display: block;
  }
  
  .dropdown-item {
    color: #fff;
    text-decoration: none;
  }
  
  .dropdown-item:hover {
    background-color: #ccc;
  }

  .dropdown-menu li {
    list-style-type: none;
  }

  /*=============== Auto Carousel============== */

  .carousel-container {
    position: relative;
    overflow: hidden;
    height: 500px;
  }
  
  .carousel-content {
    display: flex;
    animation: carousel 105s infinite linear;
    overflow: hidden;
   
  }
  
  .carousel-content:hover{
    animation-play-state: paused;
  }
 
  .carousel-image-wrapper {
    margin-top:20px;
    width: 80%;
    height: 50%;
    position: relative;
    padding: 10px;
    overflow: hidden;
  }
  .carousel-image-name {
    display:flex;
    justify-content: center;
  }

  .read-more-button-wrapper {
    margin-top: 10px; 
  }

  .read-more-button {
    padding: 10px 20px;
    background-color: #7c1717; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .read-more-button:hover {
    background-color: #ce0404; 
  }

  .carousel-image-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .carousel-image-alt{
    display:flex;
    justify-content: center;
  }
  .carousel-image {
    width: auto;
    height: auto; 
    object-fit: fill;
    transition: transform 0.5s ease-in-out;
    margin: 10px;
  }
  
  .carousel-image:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .carousel-image-info {
    position: absolute;
    bottom: 20px; 
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px 20px; 
    display: flex;
    justify-content: space-between;
  }
  
  .carousel-image-info p {
    margin: 0;
  }
  
  @keyframes carousel {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  /* ======================HIGHLIGHTS==================== */
  .highlights-container {
    position: relative;
    overflow: hidden;
    height: 500px;
  }